@charset "utf-8";



/* common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  /* vertical-align: bottom; */
}


/* header */

header {
  padding-top: 16px;
  text-align: center;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  padding: 0;
  margin: 10px 0;
}

/* hero */

.hero {

}

.hero img {
  display: block;
  width: 100%;
  max-width: 610px;
  height: 420px;
  object-fit: cover;
  margin: 0 auto;
}

/* About */



.about {
  max-width: 630px;
  /* margin: 0 28px; */
  padding: 80px 28px 60px;
}  

.about h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about p {
  font-size: 14px;
}

address {
  margin: 30px 0;
  font-style: normal;
}

address a {
  color: inherit;
  text-decoration: none;
}

address p {
  margin-top: 1px;
}