@charset "utf-8";



/* common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}


/* header */
header {
  padding-top: 16px;
  text-align: center;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  padding: 0;
  margin: 10px 0;
}

li {
  font-size: 13px;
}


/* hero */
.hero-sp {
  display: block;
  width: 100%;
  max-width: 610px;
  height: 420px;
  object-fit: cover;
  margin: 0 auto;
}

.hero-pc {
  display: none;
}


/* About */
.about {
  max-width: 848px;
  padding: 80px 28px 60px;
  margin: 0 auto;
}

.about h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about p {
  font-size: 14px;
}

address {
  margin: 30px 0;
  font-style: normal;
}

address a {
  color: inherit;
  text-decoration: none;
}

address p {
  margin-top: 1px;
}


/* Works */

.works {
  padding-bottom: 48px;
}

.works h2 {
  text-align: center;
}

.work {
  padding: 40px 20px;
  text-align: center;
}

.work img {
  max-width: 600px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 30px;
}

.works article+.works article {
  margin-top: 20px;
}


/* news */

.news {
  padding: 0 20px;
}

.news h2 {
  text-align: center;
}

.news-item {
  padding: 40px 0 72px;
}

.news article {
  border-top: 1px solid #ccc;
  padding: 16px 18px;
  font-size: 14px;
}

.news article:last-child {
  border-bottom: 1px solid #ccc;
}


/* contact */

.contacts {
  padding-bottom: 32px;
}

.contacts h2 {
  text-align: center;
}

label {
  font-size: 14px;
}

form div {
  margin: 0 auto;
}


input {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 40px;
  border: 1px solid #ccc;
}

textarea {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 160px;
  border: 1px solid #ccc;
}

.contact {
  padding: 40px 20px;
  max-width: 600px;
  margin: 0 auto;
}

form div+div {
  margin-top: 8px;
}

.button {
  text-align: center;
}

button {
  width: 200px;
  height: 50px;
  background: black;
  color: white;
  cursor: pointer;
  margin-top: 32px;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

/* footer */

footer {
  height: 32px;
  background: #222;
  color: white;
  text-align: center;
}

small {
  font-size: 8px;
}



/* pc-mode */

@media (min-width: 600px) {

  header {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 116px 32px 108px;
  }

  /* hero */
  .hero-sp {
    display: none;
  }

  .hero-pc {
    display: block;
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
    margin: 0 auto;
  }

  .hero {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }

  /* About */
  li {
    font-size: 14px;
  }

  .about {
    max-width: 920px;
    padding: 80px 28px 120px;
    margin: 0 auto;
  }

  .about h2 {
    margin-bottom: 72px;
  }


  /* Works */

  .work {
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    padding: 72px 38px 100px;
  }

  .work article {
    width: calc((100% - 60px) / 3);
  }

  /* news */
  .news-item {
    padding: 40px 0 72px;
    display: block;

  }

  .news-item article {
    display: flex;
    gap: 10%;
    max-width: 832px;
    margin: 0 auto;
  }

  /* contact */


  form .form {
    display: flex;
    justify-content: space-between;
  }

  .contact {
    max-width: 860px;
  }

}